<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324249510981-cnrf814sllus988n48mu4vkbmkmt3llm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324249510981-cnrf814sllus988n48mu4vkbmkmt3llm</string>
	<key>API_KEY</key>
	<string>AIzaSyC2iThhaDkt3BTigXCk82mDvHgS4TcKysE</string>
	<key>GCM_SENDER_ID</key>
	<string>324249510981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.fireAuthApp</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-app-98f58</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-app-98f58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324249510981:ios:e9f34d5dbf1aabc6d26f2c</string>
</dict>
</plist>